{
  "frameBuffer" : "bloom_half",
  "includeVBTextures" : false,

  "frameBufferTextures" : [
    { "framebuffer" : "main", "texture" : "mainBuffer" }
  ],

  "effectParameters" : {
    "bloomThreshold" : {
      "type" : "float",
      "default" : 0.7,
      "uniform" : "bloomThreshold",
      "scriptable" : true
    }
  },

  "effectTextures" : {
    "mainBuffer" : {
      "textureUniform" : "mainBuffer",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "postprocess.vert",
    "fragment" : "bloom_extract.frag"
  }
}
