{
  "frameBuffer" : "scene_final",
  "includeVBTextures" : false,

  "frameBufferTextures" : [
    { "framebuffer" : "main", "texture" : "mainBuffer" },
    { "framebuffer" : "bloom_half", "texture" : "bloomBuffer" }
  ],

  "effectParameters" : {
    "bloomIntensity" : {
      "type" : "float",
      "default" : 0.15,
      "uniform" : "bloomIntensity",
      "scriptable" : true
    },
    "aoIntensity" : {
      "type" : "float",
      "default" : 0.5,
      "uniform" : "aoIntensity",
      "scriptable" : true
    },
    "colorBleedIntensity" : {
      "type" : "float",
      "default" : 0.5,
      "uniform" : "colorBleedIntensity",
      "scriptable" : true
    }
  },

  "effectTextures" : {
    "mainBuffer" : {
      "textureUniform" : "mainBuffer",
      "textureSizeUniform" : "mainBufferSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "nearest"
    },
    "bloomBuffer" : {
      "textureUniform" : "bloomBuffer",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "postprocess.vert",
    "fragment" : "bloom_composite.frag"
  }
}
