{
  "frameBuffer" : "bloom_pong",
  "includeVBTextures" : false,

  "frameBufferTextures" : [
    { "framebuffer" : "bloom_half", "texture" : "sourceBuffer" }
  ],

  "effectParameters" : {},

  "effectTextures" : {
    "sourceBuffer" : {
      "textureUniform" : "sourceBuffer",
      "textureSizeUniform" : "sourceBufferSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "postprocess.vert",
    "fragment" : "bloom_blur_h.frag"
  }
}
