{
  "blitFrameBuffer" : "main",
  "includeVBTextures" : false,

  "frameBufferTextures" : [
    { "framebuffer" : "main", "texture" : "mainBuffer" },
    { "framebuffer" : "godrays", "texture" : "godrayBuffer" }
  ],

  "effectParameters" : {},

  "effectTextures" : {
    "mainBuffer" : {
      "textureUniform" : "mainBuffer",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    },
    "godrayBuffer" : {
      "textureUniform" : "godrayBuffer",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "postprocess.vert",
    "fragment" : "godrays_composite.frag"
  }
}
