{
  "frameBuffer" : "godrays",
  "includeVBTextures" : false,

  "frameBufferTextures" : [
    { "framebuffer" : "main", "texture" : "mainBuffer" }
  ],

  "effectParameters" : {
    "godrayDensity" : {
      "type" : "float",
      "default" : 0.5,
      "uniform" : "godrayDensity",
      "scriptable" : true
    },
    "dayLevel" : {
      "type" : "float",
      "default" : 1.0,
      "uniform" : "dayLevel",
      "scriptable" : true
    },
    "gameTime" : {
      "type" : "float",
      "default" : 0.0,
      "uniform" : "gameTime",
      "scriptable" : true
    }
  },

  "effectTextures" : {
    "mainBuffer" : {
      "textureUniform" : "mainBuffer",
      "textureSizeUniform" : "screenSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "postprocess.vert",
    "fragment" : "godrays.frag"
  }
}
