{
  "blitFrameBuffer" : "main",
  "includeVBTextures" : false,

  "frameBufferTextures" : [
    { "framebuffer" : "main", "texture" : "mainBuffer" }
  ],

  "effectParameters" : {
    "weatherIntensity" : {
      "type" : "float",
      "default" : 0.0,
      "uniform" : "weatherIntensity"
    },
    "gameTime" : {
      "type" : "float",
      "default" : 0.0,
      "uniform" : "gameTime"
    }
  },

  "effectTextures" : {
    "mainBuffer" : {
      "textureUniform" : "mainBuffer",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "postprocess.vert",
    "fragment" : "lightning.frag"
  }
}
