{
  "frameBuffers" : {
    "main" : {},
    "scene_final" : {},
    "bloom_half" : {
      "internalFormat" : "rgb16f",
      "sizeDiv" : 2,
      "textureFiltering" : "linear"
    },
    "bloom_pong" : {
      "internalFormat" : "rgb16f",
      "sizeDiv" : 2,
      "textureFiltering" : "linear"
    }
  }
}
