{
  "frameBuffers" : {
    "main" : {},
    "scene_final" : { "noMultisample" : true },
    "bloom_half" : {
      "internalFormat" : "rgb16f",
      "sizeDiv" : 2,
      "textureFiltering" : "linear",
      "noMultisample" : true
    },
    "bloom_pong" : {
      "internalFormat" : "rgb16f",
      "sizeDiv" : 2,
      "textureFiltering" : "linear",
      "noMultisample" : true
    }
  }
}
